<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pushkarmishra.conwaysgameoflife">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Preloaded_Library"
            android:configChanges="orientation"
            android:label="@string/title_activity_preloaded__library"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Editor"
            android:configChanges="orientation"
            android:label="@string/title_activity_editor"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainGame"
            android:configChanges="orientation"
            android:label="@string/title_activity_main_game"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BoardDetails"
            android:configChanges="orientation"
            android:label="@string/title_activity_board_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".stats"
            android:label="@string/title_activity_stats"
            android:parentActivityName=".MainGame"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pushkarmishra.conwaysgameoflife.MainGame" />
        </activity>
        <activity
            android:name=".Statistics"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".MainGame"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pushkarmishra.conwaysgameoflife.MainGame" />
        </activity>
    </application>

</manifest>
